import { FC } from 'react'
import styles from './{{kebabCase component}}.module.scss'

interface {{properCase component}}Props {}

export const {{properCase component}}: FC<{{properCase component}}Props> = (props) => {
  return <div className={ styles.{{camelCase component}} }>{{constantCase component}}</div>
}
